.fialova {
    background : #591EDA;
}

.modra {
    background: blue;
}

.azurova {
    background: #1EDA98;
}

.zelena {
    background: green;
}

.zluta {
    background: yellow;
}

.oranzova {
    background: orange;

}

.cervena {
    background: red;

}

.vinova {
    background: #4A0E19;
}